[Unit]
Description=Load brcmfmac at last
After=graphical.target
Wants=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/modprobe brcmfmac
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
